
h1 {
    margin-top: 75px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.show_container {
    margin-top: 40px;
}

.shows li{
    list-style: none;
    display: flex;
    border-bottom: solid white 1px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.shows {
    margin: auto;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
}

.shows p {
margin-left: 25px;
margin-right: 25px;
margin-top: 20px;
margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .shows {
      width: 75%;
      display: block;
      margin-bottom: 20px;
    }
  }






