<div class="nav">
    <div class="left">
        <img class="logo" src="../assets/Logo_TV_2015.svg.png" />
        </div>
    <div class="middle">
    <a class="item" routerLink="/main">Home</a>
    <a class="item" routerLink="/music">Music</a>
    <a class="item" routerLink="/shows">Shows</a>
    <a class="item" routerLink="/merch">Merch</a>
</div>
<div class="right">
    <img class="sm_links" src="../assets/facebook.png">
    <img class="sm_links" src="../assets/instagram.png">
</div>
</div>
<router-outlet></router-outlet>
