<div class="row">
    <div class="column">
      <div class="card">
        <a href="#">
            <img src="/assets/icons8-beef-64.png" alt="Beef Jerky Cause Idk" class="stream_link"><hr>
        </a>Links to various streaming services will go in these boxes -----> 
         </div>
    </div>
    <div class="column">
      <div class="card">
        <a href="#"><img src="/assets/youtube.png" alt="Youtube link" class="stream_link"></a>
      </div>
    </div>
    <div class="column">
      <div class="card"><a href="#"><img src="/assets/icons8-apple-96.png" alt="apple music link" class="stream_link"></a></div>
    </div>
    <div class="column">
      <div class="card"><a href="#"><img src="/assets/icons8-spotify-96.png" alt="spotify link" class="stream_link"></a></div>
    </div>
  </div>
